.progress-container {
  width: 100%;
}

.progress-bar-container {
  display: flex;
  width: 100%;
  height: 12px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ddd;
}

.progress-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-value {
  position: absolute;
  bottom: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
}